input[readonly]{
  background-color: #e9ecef;
  opacity: 1;
}

/*
 * Width
 */

.w25{
  width:25%;
}

.w50{
  width:50%;
}

.w75{
  width:75%;
}

.w100{
  width:100%;
}

/*
 * /Width
 */




/*
 * Margin
 */

.my-100{
  margin-top:100px;
  margin-bottom:100px;
}

.mx-auto{
  margin-right: auto;
  margin-left: auto;
}

/*
 * /Margin
 */




/*
 * Display
 */

.d-block{
  display: block;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
}

/*
 * /Display
 */



/*
 * Text
 */

 .text-error{
  color:#d32f2f;
}

.text-success{
  color:#28a745;
}

.text-center{
  text-align: center;
}

/*
 * /Text
 */



/*
 * Justify
 */

.justify-between{
  justify-content: space-between;
}

/*
 * /Justify
 */



/*
 * Page Components
 */

.main-container{
  margin: 1.2em auto 0 auto;
  overflow: hidden;
  position: relative;
}

.container-fixed{
  position: absolute;
  top: 0;
  right: 0;
}

.btn {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 4px 12px;
  border: none;
  cursor: pointer;
}

.btn.mr-12{
  margin-right: 1.2em;
}

#home .btn-box {
  width: 100px;
}

.btn.primary {
  background-color: #26A69A;
}

.btn.secondary {
  background-color: #42A5F5;
}

.btn.info {
  background-color: #17a2b8;
}

.btn.light {
  background-color: #9E9E9E;
}

.inputGroup {
  margin-bottom: 12px;
}



.card{
  border: 2px dotted #455A64;
  padding: 1em 1.2em;
  position: relative;
}

.card .card-fixed{
  display: flex;
  position: absolute;
  top: 0;
  right: 1.2em;
}

.card .card-left{
  text-align: center;
}

.card .card-label{
  font-size: 17px;
}

.card .card-value{
  font-size: 14px;
}

.card .card-right .card-section{
  display: flex;
  align-items: center;
}

.card .card-right .card-value{
  margin-left: 20px;
}

.card .card-right{
  text-align: left;
}
/*
 * Page Components
 */